@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.background {
    -fx-background-color: "#bcae76";
}

.menu {
    -fx-fill: "#f7e697";
}

.h1 {
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size: 35px;
    -fx-text-fill: "#73b671";
}

.button {
    -fx-background-color: "#bcae76";
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: "#73b671";
    -fx-text-fill: white;
}